{% extends "phrases/base.html" %}
{% block content %}
    <h1>Consulta los datos registrados</h1>

    <section>
    <h3>Filtrar por categoría:</h3>
    <form method="GET">
        <select name="filtro_categoria">
            <option value="">Sin filtro</option>
            {% for categoria in categorias %}
                <option value={{categoria.id}} {% if categoria.id == categoria_id %} selected {% endif %}>{{categoria.titulo}}</option>
            {% endfor %}
        </select>

        <select name="orden_elegido">
            <option value="ASC" {% if "ASC" == orden %} selected {% endif %}>Más antiguos primero</option>
            <option value="DESC" {% if "DESC" == orden %} selected {% endif %}>Más recientes primero</option>
        </select>

        <button type="submit" name="action" value="filter">Filtrar</button> |

        <input type="text" name="busqueda" value={{valor_buscado}}>&#x1F50D;

        <button type="submit" name="action" value="reset">Limpiar Filtros</button>

    </form>
    </section>

        <section>
            {% for registro in registros %}
                <form method="POST">
                    {% csrf_token %}
                    <p>Frase Español: {{registro.texto_esp}} | Frase Japonés: {{registro.texto_jp}} | Categoría: {{registro.categoria}} | Notas: {{registro.nota}} | 
                    <a href='{% url "editar_datos" registro.id %}'>Ir a editar los datos</a>| <button type="submit" name="action" value="delete" onclick="return confirm('¿Seguro que quieres eliminar?')">Eliminar</button></p>
                    <input type="hidden" name="registro_id" value={{registro.id}}>
                </form>
            {% endfor %}
        </section>
    

    <a href={% url "main_page" %}>Volver a la página principal</a>
{% endblock content %}