{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'phrases/css/auth.css' %}">
</head>

<body>
    <video autoplay muted loop playsinline width="800" id="bg-video">
       <source src="{% static 'phrases/videos/AtarashiiGakko.mp4' %}">
    </video>
    <div class="overlay"></div>
    <div class="container">
        <h2>Inicio de Sesión</h2>
        {% if form.errors %}
            <p class="error-message">Usuario o contraseña incorrectos</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="input-group">
                <label>Nombre de Usuario</label>
                <input type="text" placeholder="Enter Username" name="username">
            </div>
            <div class="input-group">
                <label>Contraseña</label>
                <input type="password" placeholder="Enter Password" name="password">
            </div>
            <button class="submit-btn">Iniciar Sesión</button>
        </form>
        <div class="footer">
            <a href={% url "registro_usuario" %}>Registrarse</a>
        </div>
    </div>
</body>
</html>